$colBlac:#000000;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url("//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy");
body {
    background-color: #FDEFE6;
    margin: 0;
    display: block;
    justify-content: center;
    overflow: auto;
}

.page {
    display: flex;
    height: 100%;
    min-width: 100%;
    flex-direction: column;
}

header {
    width: 100%;
}

nav {
    padding: 1rem 2rem;
    font-size: large;
    font-weight: bolder;
    justify-content: space-between;
    display: inline-flex;
    width: -webkit-fill-available;
    margin-bottom: 30px;
    .logotype {
        font-size: 24px;
    }
    .list-menu-on-nav {
        font-size: 16px;
        font-weight: 100;
        ul {
            list-style: none;
            display: inline-flex;
            li {
                font-family: 'Gilroy';
                margin-right: 60px;
                select {
                    border: none;
                    background-color: initial;
                }
            }
        }
    }
}

.button_menu_icon {
    width: 20px;
    height: 3px;
    background-color: $colBlac;
    margin: 2px 0;
}

#menu_button {
    border: none;
    background-color: initial;
    display: none;
}

.Welcome-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 70px;
    h3 {
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 20px;
        align-items: center;
        margin-bottom: 0;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        margin-top: 0;
        font-size: 84px;
        line-height: 96px;
    }
}

.main-image-div {
    display: flex;
    width: 100%;
    justify-content: inherit;
}

.image-welcome-page {
    margin-right: 20px;
}

.layout-image {
    display: flex;
    position: relative;
    .o {
        width: 600px;
        height: 822px;
    }
    .oo {
        width: 400px;
        height: 548px;
        bottom: 0;
    }
    .ooo {
        width: 480px;
        height: 658px;
    }
    .oooo {
        width: 600px;
        height: 822px;
    }
    .ooooo {
        width: 400px;
        height: 548px;
        display: none;
    }
}

@media only screen and (min-width:750px) {
    main {
        justify-content: center;
        min-width: 1245px;
        margin: 0 -323px;
    }
}